
body
{
    background-size: cover;
    background-position: cover;
}
canvas
 {
box-shadow: 10px 10px 10px lightslategrey;
border-radius: 10px;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#numberofobjects
{
font-size: 18px;
}

